body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.main-container {
  background-color: #000;
  height: 90vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  color: powderblue;
  display: grid;
  grid-template-rows: repeat(10, 75px);
  grid-template-columns: repeat(10, 75px);
}

.cell {
  border: 1px solid white;
  text-align: center;
  padding: 25px;
}

.cell:hover {
  background-color: slategrey;
}
